# From https://github.com/github/gitignore/blob/master/Python.gitignore

# Byte-compiled / optimized
.pyenv/
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info/
public/

# Unit-tests
.pytest_cache/

# IDE
*.iml
.idea/
